body {
    background-color: #1c3d59;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 0 !important
}

.visible {
    visibility: visible;
}

.hidden {
    display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*:focus {
    outline: none;
    box-shadow:none;
}

.inline-flex {
    display: inline-flex;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}


#content {
    text-align: center;
}

.logo {
    width: 50%;
    padding: 20px;
}

/* .ticker p {
    background-color: #0b1824;
    color: #d2ff00;
    margin: 0;
    padding: 12px;
} */

.btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    font-family: inherit;
    color: #c4ddf2;
    border: none;
    font-size: 2em;
    padding: 20px;
}

.btn-blue {
    background-color: #4d6f8c;
}

.btn-orange {
    background-color: #a45a1e;
    margin-top: 6px;
}


.game {
    color: #4d6f8c;
}

.recent-games-label {
    margin: 0;
    margin-top: 20px;
    margin-bottom: -6px;
    color: #4d6f8c;
}

.game-date {
    font-size: 1.4em;
    border-bottom: 1px solid #4d6f8c;
    border-top: 1px solid #4d6f8c;
    margin: 0;
    margin-top: 20px;
}


table {
    width: 100%;
}

div#cancel-game {
    position: fixed;
    /* padding: 19px 0px 0px 31px; */
    text-transform: lowercase;
    border: 2px solid #fff;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #000;
}

#trackModal {
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.81);
}




.new-game-input {
    color: #fff;
}

.new-game-input h1 {
    font-size: 4em;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    height: 50px;
}

.new-game-date {
    font-style: italic;
}

#ranomizer {
    background: url(/static/images/die.png) no-repeat top left;

    display: inline-block;
    width:50px; 
    height:50px; 
    border: 0;
    background-size: 100%; /* To fill the dimensions of container (button), or */
    background-size: 50px auto; /* to specify dimensions explicitly */

}

#result1, #result2 {
    /* display: inline; */
    width: 38%
}


.select-player {
    background: none;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: 2em;
    -webkit-appearance: none; /* Turn off Dropdown Arrows */
    }

.tracker-player1 h2, .tracker-player2 h2 {
    margin-bottom: 0px;

}

.tracker-away h2, .tracker-home h2 {
    margin-top: 0px;
}

section.period-pannel {
    border-top: 1px solid #505050;
    padding-bottom: 40px;
}

#period-pannel-2 {
    /* display: none; */
}

#period-pannel-3 {
    /* display: none; */
}

#period-pannel-ot-1 {
    display: none;
}

section#spacer {
    min-height: 120px;
}

#submit-game {
    /* display: none; */
}


.score-plus-minus {
    font-size: 70px;
    display: none;
}

.clear-score-1.inline-flex {
    width: 14%;
}

.score-input {
    width: 30%;
    text-align: center;
    display: inline-block;
    font-size: 1.4em;
}

.new-game-input input {
    background: none;
    color: #fff;
    font-family: inherit;
    border: none;
    font-size: 70px;
    text-align: center;
}

label.asterisk-label {
    font-size: 1.4em;
}

input#asterisk {
    color: #000;
    height: 20px;
}

button#submit-game {
    width: 100%;
    font-family: inherit;
    padding: 25px;
    font-size: 2em;
    color: #fff;
    background-color: #a45a1e;
    border: none;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}


/* Forms */

.login {
    display: block;
    margin: 0 auto;
    padding: 20px;
    border: none;
    margin-bottom: 2px;
    width: 70%;
    text-align: center;
    background-color: #c4ddf2;
    color: #4D6F8C;
    font-size: 1em;
}

.login-user {
    border-radius: 10px 10px 0px 0px;
}

.login-pass {
    border-radius: 0px 0px 10px 10px;
}

.btn-login {
    font-family: inherit;
    background: none;
    color: #c4ddf2;
    border: none;
    font-size: 1.4em;
    padding: 12px;
}

.welcome {
    color: #c4ddf2;
}


.footer {
    margin-top: 30px;
    text-align: center;
}

.footer p {
    font-family: inherit;
    color: #4d6f8c;
    margin: 0;
    padding: 0;
}

.modal-placeholder {
    width: 100%;
}




