{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}
		
		{% block content %}
 		<!-- Ticker -->
        <div class="ticker-wrap">
            <div class="ticker">
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
            </div>
            </div>
        <!-- Menu Buttons -->    
        <div class="menu">
            <button class="btn btn-blue" type="button">Player Stats</button>
            <button id="trackGame" class="btn btn-orange" type="button">Track a Game</button>
        </div>

        <!-- Recent Games Label --> 
        <p class="recent-games-label">Recent Games</p>

			{% for game in games %}
		        <!-- Game Scores --> 
		        <div class="game">
					<p class="game-date">{{ game.game_date.strftime('%B %-d %Y') }}</p>
		            <table>
		                <tr>
							<th>Player</th>
							<th>Team</th>
							<th>1st</th>
							<th>2nd</th>
							<th>3rd</th>
							<th>OT</th>
							<th>Final</th>
		                </tr>
		                <tr>
							<td>{{ game.away_player }}</td>
							<td>{{ game.away_team }}</td>
							<td>{{ game.away_period_1 }}</td>
							<td>{{ game.away_period_2 }}</td>
							<td>{{ game.away_period_3 }}</td>
							<td>{{ game.away_ot_1 }}</td>
							<td>{{ game.away_final }}</td>
		                </tr>
		                <tr>
						  	<td>{{ game.home_player }}</td>
							<td>{{ game.home_team }}</td>
							<td>{{ game.home_period_1 }}</td>
							<td>{{ game.home_period_2 }}</td>
							<td>{{ game.home_period_3 }}</td>
							<td>{{ game.home_ot_1 }}</td>
							<td>{{ game.home_final }}</td>
		                </tr>
		              </table>
		        </div>
			{% endfor %}

              <!-- Game Input Popup --> 
      <div id="trackModal">
        <div class="new-game-input">
			<div id="cancel-game">x</div>
          	<section>
				  <h1>New Matchup</h1>
				<p class="new-game-date">{{ now.strftime('%B %-d %Y') }}</p>
        		<!-- <p class="new-game-date">June 26th, 2020</p> -->
			  </section>

			<form id="game-tracker" action="/tracker" method="POST">
					<!-- TEAM PLAYER ONE, PLAYER TWO -->
					<section class="flex-container">
						<div class="flex-child tracker-player1">
							<!-- <h2>Player 1</h2> --> 
							<select class="select-player" id='player-1' name='player-1' value='Choose Player' required>
								<!-- ## database ## - Grab these values from User Table -->  
								<option value="" selected disabled hidden>Player 1</option> 
								<option value="Ryan">Ryan</option>
								<option value="Nick">Nick</option>
								<option value="Joseph">Joseph</option>
								<option value="Steele">Steele</option>
							</select>
						</div>
						<div class="flex-child tracker-player2">
							<!-- <h2>Player 2</h2> -->
							<select class="select-player" id='player-2' name='player-2' value='Choose Player' required>
								<!-- ## database ## - Grab these values from User Table -->  
								<option value="" selected disabled hidden>Player 2</option> 
								<option value="Ryan">Ryan</option>
								<option value="Nick">Nick</option>
								<option value="Joseph">Joseph</option>
								<option value="Steele">Steele</option>
							</select>
						</div>
					</section>
					<!-- TEAM ICONS -->
					<section>
						<input type="hidden" id="away-team-name" name="away-team-name" value="" required> <!-- Grab Team id from a dictionary -->
						<img id="result1" src="static/images/nhl_logos/nhl-logo-480x480.png" alt="Away Team">
						<div id="ranomizer"></div>
						<input type="hidden" id="home-team-name" name="home-team-name" value="" required> <!-- Grab Team id from a dictionary -->
						<img id="result2" src="static/images/nhl_logos/nhl-logo-480x480.png" alt="Home Team">				
					</section>
					<!-- TEAM AWAY, HOME -->
					<section class="flex-container">
						<div class="flex-child tracker-away">
							<h2>Away</h2>
						</div>
						<div class="flex-child tracker-home">
							<h2>Home</h2>
						</div>
					</section>

					<section id="period-pannel-1" class="period-pannel"> <!-- FIRST PERIOD -->
						<h3>1st Period</h3>

							<div class='score-input score-input-away inline-flex'>
								<div class="score-plus-minus">-</div>
								<select class="select-player period-scores" id='away-period-1' name='away-period-1' value='0' required> 
									<option selected disabled hidden value="">-</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
								</select>
								<div class="score-plus-minus">+</div>
							</div>

							<div class="clear-score-1 inline-flex"></div> <!-- score clear -->

							<div class='score-input score-input-home inline-flex'>
								<div class="score-plus-minus">-</div>
								<select class="select-player period-scores" id='home-period-1' name='home-period-1' value='0' required> 
									<option selected hidden value="">-</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
								</select>
								<div class="score-plus-minus">+</div>
							</div>

					</section>

					<section id="period-pannel-2" class="period-pannel"> <!-- SECOND PERIOD -->
						<h3>2nd Period</h3>

						<div class='score-input score-input-away inline-flex'>
							<div class="score-plus-minus">-</div>
							<select class="select-player period-scores" id='away-period-2' name='away-period-2' value='0' required> 
								<option selected hidden value="">-</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
							<div class="score-plus-minus">+</div>
						</div>

						<div class="clear-score-1 inline-flex"></div> <!-- score clear -->

						<div class='score-input score-input-home inline-flex'>
							<div class="score-plus-minus">-</div>
							<select class="select-player period-scores" id='home-period-2' name='home-period-2' value='0' required> 
								<option selected hidden value="">-</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
							<div class="score-plus-minus">+</div>
						</div>

					</section>

					<section id="period-pannel-3" class="period-pannel"> <!-- THIRD PERIOD -->
						<h3>3rd Period</h3>

						<div class='score-input score-input-away inline-flex'>
							<div class="score-plus-minus">-</div>
							<select class="select-player period-scores" id='away-period-3' name='away-period-3' value='0' required> 
								<option selected hidden value="">-</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
							<div class="score-plus-minus">+</div>
						</div>

						<div class="clear-score-1 inline-flex"></div> <!-- score clear -->

						<div class='score-input score-input-home inline-flex'>
							<div class="score-plus-minus">-</div>
							<select class="select-player period-scores" id='home-period-3' name='home-period-3' value='0' required> 
								<option selected hidden value="">-</option>
								<option value="0">0</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
							</select>
							<div class="score-plus-minus">+</div>
						</div>

					</section>

					<section id="period-pannel-ot-1" class="period-pannel"> <!-- OVERTIME 1 -->
						<h3 id="ot-count-button">OVERTIME <span id="ot-count-display"></span></h3>
						<input class="hidden" type="text" id="ot-count" name="ot-count" value="1">

						<div class='score-input score-input-away inline-flex'>
							<div class="score-plus-minus">-</div>
							<select class="select-player" id='away-ot-1' name='away-ot-1' value='0'> 
								<option selected hidden value="0">-</option>
								<option value="0">0</option>
								<option value="1">1</option>
							</select>
							<div class="score-plus-minus">+</div>
						</div>

						<div class="clear-score-1 inline-flex"></div> <!-- score clear -->

						<div class='score-input score-input-home inline-flex'>
							<div class="score-plus-minus">-</div>
							<select class="select-player" id='home-ot-1' name='home-ot-1' value='0'> 
								<option selected hidden value="0">-</option>
								<option value="0">0</option>
								<option value="1">1</option>
							</select>
							<div class="score-plus-minus">+</div>
						</div>

					</section>

					
					<section id="asterisk">
						<label class="asterisk-label" for="asterisk">*</label>
						<input class="asterisk-box" type="checkbox" id="asterisk" name="asterisk" value="asterisk">
					</section>

					<section id="spacer"> <!-- Make height of button -->

					</section>
					
					<button input="submit" value="Post" id="submit-game">Submit Game</button>
			</form>

      </div>




<!-- Cancel Tracker Button -->
<script type="text/javascript">
	$("#cancel-game").click(function () {

		// slide up tracker window
		$( "#trackModal" ).slideUp(1000, function() {
		// Animation complete.
		});
		// reset game scores
  		$("#game-tracker")[0].reset();

		// set NHL teams back to default NHL logo
		$("#home-team-name").val('')  
		$("#result1").attr("src","static/images/nhl_logos/nhl-logo-480x480.png");
		
		$("#home-team-name").val('') 
		$("#result2").attr("src","static/images/nhl_logos/nhl-logo-480x480.png");

  		return false; // prevent submitting
});
</script>


<!-- Team Randomizer 1.0 -->
<!-- <script type="text/javascript"> 
  // Random Teams Logic
  $( '#ranomizer' ).click(function() {
  var intrvl = setInterval(numbFunction, 10); //repeat function after 1.5 seconds(1500 ms)
      function numbFunction() {
          
				var allteams = [
				{
					"name":"Anaheim Ducks",
					"image":"static/images/nhl_logos/nhl-anaheim-ducks-logo-480x480.png"
				},
				{
					"name":"Arizona Coyotes",
					"image":"static/images/nhl_logos/nhl-arizona-coyotes-logo-480x480.png"
				},
				{
					"name":"Boston Bruins",
					"image":"static/images/nhl_logos/nhl-boston-bruins-logo-480x480.png"
				},
				{
					"name":"Buffalo Sabres",
					"image":"static/images/nhl_logos/nhl-buffalo-sabres-logo-480x480.png"
				},
				{
					"name":"Calgary Flames",
					"image":"static/images/nhl_logos/nhl-calgary-flames-logo-480x480.png"
				},
				{
					"name":"Carolina Hurricanes",
					"image":"static/images/nhl_logos/nhl-carolina-hurricanes-logo-480x480.png"
				},
				{
					"name":"Chicago Blackhawks",
					"image":"static/images/nhl_logos/nhl-chicago-blackhawks-logo-480x480.png"
				},
				{
					"name":"Colorado Avalanche",
					"image":"static/images/nhl_logos/nhl-colorado-avalanche-logo-480x480.png"
				},
				{
					"name":"Columbus Blue Jackets",
					"image":"static/images/nhl_logos/nhl-columbus-blue-jackets-logo-480x480.png"
				},
				{
					"name":"Dallas Stars",
					"image":"static/images/nhl_logos/nhl-dallas-stars-logo-480x480.png"
				},
				{
					"name":"Detroit Red Wings",
					"image":"static/images/nhl_logos/nhl-detroit-red-wings-logo-480x480.png"
				},
				{
					"name":"Edmonton Oilers",
					"image":"static/images/nhl_logos/nhl-edmonton-oilers-logo.png"
				},
				{
					"name":"Florida Panthers",
					"image":"static/images/nhl_logos/nhl-florida-panthers-logo-480x480.png"
				},
				{
					"name":"Los Angeles Kings",
					"image":"static/images/nhl_logos/nhl-los-angeles-kings-logo-480x480.png"
				},
				{
					"name":"Minnesota Wild",
					"image":"static/images/nhl_logos/nhl-minnesota-wild-logo-480x480.png"
				},
				{
					"name":"Montreal Canadiends",
					"image":"static/images/nhl_logos/nhl-montreal-canadiens-logo-480x480.png"
				},
				{
					"name":"Nashville Predators",
					"image":"static/images/nhl_logos/nhl-nashville-predators-logo-480x480.png"
				},
				{
					"name":"New Jersey Devils",
					"image":"static/images/nhl_logos/nhl-new-jersey-devils-logo-480x480.png"
				},
				{
					"name":"New York Islanders",
					"image":"static/images/nhl_logos/nhl-new-york-islanders-logo-480x480.png"
				},
				{
					"name":"New York Rangers",
					"image":"static/images/nhl_logos/nhl-new-york-rangers-logo-480x480.png"
				},
				{
					"name":"Ottawa Senators",
					"image":"static/images/nhl_logos/nhl-ottawa-senators-logo-480x480.png"
				},
				{
					"name":"Philadelphia Flyers",
					"image":"static/images/nhl_logos/nhl-philadelphia-flyers-logo-480x480.png"
				},
				{
					"name":"Pittsburgh Penguins",
					"image":"static/images/nhl_logos/nhl-pittsburgh-penguins-logo-480x480.png"
				},
				{
					"name":"San Jose Sharks",
					"image":"static/images/nhl_logos/nhl-san-jose-sharks-logo-480x480.png"
				},
				{
					"name":"St Louis Blues",
					"image":"static/images/nhl_logos/nhl-st-louis-blues-logo-480x480.png"
				},
				{
					"name":"Tampa Bay Lightning",
					"image":"static/images/nhl_logos/nhl-tampa-bay-lightning-logo-480x480.png"
				},
				{
					"name":"Toronto Maple Leafs",
					"image":"static/images/nhl_logos/nhl-toronto-maple-leafs-logo-480x480.png"
				},
				{
					"name":"Vancouver Canucks",
					"image":"static/images/nhl_logos/nhl-vancouver-canucks-logo-480x480.png"
				},
				{
					"name":"Vegas Golden Knights",
					"image":"static/images/nhl_logos/nhl-vegas-golden-knights-logo-480x480.png"
				},
				{
					"name":"Washington Capitals",
					"image":"static/images/nhl_logos/nhl-washington-capitals-logo-480x480.png"
				},
				{
					"name":"Winnipeg Jets",
					"image":"static/images/nhl_logos/nhl-winnipeg-jets-logo-480x480.png"
				}
				];


          var x = Math.floor((Math.random() * 31) + 0); //return a random no. between 1 to 10 away   31
          var y = Math.floor((Math.random() * 31) + 0); //return a random no. between 1 to 10 home   31
                                                     
          document.getElementById("result1").src = allteams[x].image; // random team for away           "results1"    images
          document.getElementById("result2").src = allteams[y].image; // random team for home           "results2"    images
          
		  // !! get jquery to set the value of these two forms with the name data

  		  $('#away-team-name').val(allteams[x].name);
		  $('#home-team-name').val(allteams[y].name);


		  

          setTimeout(function () {
            //your code here...
            clearInterval(intrvl);

           }, 2000); // time out end  

          if (y == x) { // Re Roll Home if tie
  			y = Math.floor((Math.random() * 31) + 0);
		  }

          console.log("Away: " + x + " Home: " + y);
		  console.log('away team')
		  console.log(allteams[x].name)
		  console.log('home team')
		  console.log(allteams[y].name)
      }
}); // on click end
</script> -->

<!-- Team Randomizer 2.0 -->
<script type="text/javascript"> 
	// Random Teams Logic
	$( '#ranomizer' ).click(function() {
	var intrvl = setInterval(numbFunction, 10); //repeat function after 1.5 seconds(1500 ms)
		function numbFunction() {
			
				  var allteams = [
				  {
					  "name":"Anaheim Ducks",
					  "image":"static/images/nhl_logos/nhl-anaheim-ducks-logo-480x480.png"
				  },
				  {
					  "name":"Arizona Coyotes",
					  "image":"static/images/nhl_logos/nhl-arizona-coyotes-logo-480x480.png"
				  },
				  {
					  "name":"Boston Bruins",
					  "image":"static/images/nhl_logos/nhl-boston-bruins-logo-480x480.png"
				  },
				  {
					  "name":"Buffalo Sabres",
					  "image":"static/images/nhl_logos/nhl-buffalo-sabres-logo-480x480.png"
				  },
				  {
					  "name":"Calgary Flames",
					  "image":"static/images/nhl_logos/nhl-calgary-flames-logo-480x480.png"
				  },
				  {
					  "name":"Carolina Hurricanes",
					  "image":"static/images/nhl_logos/nhl-carolina-hurricanes-logo-480x480.png"
				  },
				  {
					  "name":"Chicago Blackhawks",
					  "image":"static/images/nhl_logos/nhl-chicago-blackhawks-logo-480x480.png"
				  },
				  {
					  "name":"Colorado Avalanche",
					  "image":"static/images/nhl_logos/nhl-colorado-avalanche-logo-480x480.png"
				  },
				  {
					  "name":"Columbus Blue Jackets",
					  "image":"static/images/nhl_logos/nhl-columbus-blue-jackets-logo-480x480.png"
				  },
				  {
					  "name":"Dallas Stars",
					  "image":"static/images/nhl_logos/nhl-dallas-stars-logo-480x480.png"
				  },
				  {
					  "name":"Detroit Red Wings",
					  "image":"static/images/nhl_logos/nhl-detroit-red-wings-logo-480x480.png"
				  },
				  {
					  "name":"Edmonton Oilers",
					  "image":"static/images/nhl_logos/nhl-edmonton-oilers-logo.png"
				  },
				  {
					  "name":"Florida Panthers",
					  "image":"static/images/nhl_logos/nhl-florida-panthers-logo-480x480.png"
				  },
				  {
					  "name":"Los Angeles Kings",
					  "image":"static/images/nhl_logos/nhl-los-angeles-kings-logo-480x480.png"
				  },
				  {
					  "name":"Minnesota Wild",
					  "image":"static/images/nhl_logos/nhl-minnesota-wild-logo-480x480.png"
				  },
				  {
					  "name":"Montreal Canadiends",
					  "image":"static/images/nhl_logos/nhl-montreal-canadiens-logo-480x480.png"
				  },
				  {
					  "name":"Nashville Predators",
					  "image":"static/images/nhl_logos/nhl-nashville-predators-logo-480x480.png"
				  },
				  {
					  "name":"New Jersey Devils",
					  "image":"static/images/nhl_logos/nhl-new-jersey-devils-logo-480x480.png"
				  },
				  {
					  "name":"New York Islanders",
					  "image":"static/images/nhl_logos/nhl-new-york-islanders-logo-480x480.png"
				  },
				  {
					  "name":"New York Rangers",
					  "image":"static/images/nhl_logos/nhl-new-york-rangers-logo-480x480.png"
				  },
				  {
					  "name":"Ottawa Senators",
					  "image":"static/images/nhl_logos/nhl-ottawa-senators-logo-480x480.png"
				  },
				  {
					  "name":"Philadelphia Flyers",
					  "image":"static/images/nhl_logos/nhl-philadelphia-flyers-logo-480x480.png"
				  },
				  {
					  "name":"Pittsburgh Penguins",
					  "image":"static/images/nhl_logos/nhl-pittsburgh-penguins-logo-480x480.png"
				  },
				  {
					  "name":"San Jose Sharks",
					  "image":"static/images/nhl_logos/nhl-san-jose-sharks-logo-480x480.png"
				  },
				  {
					  "name":"St Louis Blues",
					  "image":"static/images/nhl_logos/nhl-st-louis-blues-logo-480x480.png"
				  },
				  {
					  "name":"Tampa Bay Lightning",
					  "image":"static/images/nhl_logos/nhl-tampa-bay-lightning-logo-480x480.png"
				  },
				  {
					  "name":"Toronto Maple Leafs",
					  "image":"static/images/nhl_logos/nhl-toronto-maple-leafs-logo-480x480.png"
				  },
				  {
					  "name":"Vancouver Canucks",
					  "image":"static/images/nhl_logos/nhl-vancouver-canucks-logo-480x480.png"
				  },
				  {
					  "name":"Vegas Golden Knights",
					  "image":"static/images/nhl_logos/nhl-vegas-golden-knights-logo-480x480.png"
				  },
				  {
					  "name":"Washington Capitals",
					  "image":"static/images/nhl_logos/nhl-washington-capitals-logo-480x480.png"
				  },
				  {
					  "name":"Winnipeg Jets",
					  "image":"static/images/nhl_logos/nhl-winnipeg-jets-logo-480x480.png"
				  }
				  ];
  
  
			var x = Math.floor((Math.random() * 31) + 0); //return a random no. between 1 to 10 away   31
			var y = Math.floor((Math.random() * 31) + 0); //return a random no. between 1 to 10 home   31


		    // First Roll Gets Random Number
			var x = Math.floor((Math.random() * 31));

			// Second Rolls Options
			var z = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30];

			// Remove First Roll's Number from Second Rolls Options
			var spliced = z.splice(x,1)

			// Second Roll, From Spliced Options
			var y = z[Math.floor((Math.random() * 30))];

			// Place Both Rolls in an Array
			var results = [x,y];
			console.log("Both Rolls")
			console.log(results)

			// Randomly assign one of the rolls to Home Team
			var xpick = results[Math.floor((Math.random() * 2))]

			// Get the index of home teams pick
			var homePickIndex = results.indexOf(xpick);
			/*  console.log("homePickIndex")
			console.log(homePickIndex) */

			if (homePickIndex == 0) {
			var ypick = results[1];
			} else {
			var ypick = results[0];
			}

			console.log("home team")
			console.log(xpick)
			console.log("away team")
			console.log(ypick)

								   
			document.getElementById("result1").src = allteams[xpick].image; // random team for away           "results1"    images
			document.getElementById("result2").src = allteams[ypick].image; // random team for home           "results2"    images
			
			// !! get jquery to set the value of these two forms with the name data
  
			$('#away-team-name').val(allteams[xpick].name);
			$('#home-team-name').val(allteams[ypick].name);
  
  
			setTimeout(function () {
			  //your code here...
			  clearInterval(intrvl);
  
			 }, 2000); // time out end  
  
			if (y == x) { // Re Roll Home if tie
				y = Math.floor((Math.random() * 31) + 0);
			}
  
			console.log("Away: " + xpick + " Home: " + ypick);
			console.log('away team')
			console.log(allteams[xpick].name)
			console.log('home team')
			console.log(allteams[ypick].name)
		}
  }); // on click end


  </script>


<!-- Players can not be the same -->
<script type="text/javascript"> 

	// Players can not be the same
	function preventDupes( select, index ) {
		var options = select.options,
			len = options.length;
		while( len-- ) {
			options[ len ].disabled = false;
		}
		select.options[ index ].disabled = true;
		if( index === select.selectedIndex ) {
			alert('You\'ve already selected the item "' + select.options[index].text + '".\n\nPlease choose another.');
			this.selectedIndex = 0;
		}
	}

	var select1 = select = document.getElementById( 'player-1' );
	var select2 = select = document.getElementById( 'player-2' );

	select1.onchange = function() {
		preventDupes.call(this, select2, this.selectedIndex );
	};

	select2.onchange = function() {
		preventDupes.call(this, select1, this.selectedIndex );
	};
</script>


<!-- Over Time Drop Down -->
<script type="text/javascript">
	$('.period-scores').change(function() {
		console.log('Period Score Changed!')

		var awayScore1 = $('#away-period-1').val()
		var awayScore2 = $('#away-period-2').val()
		var awayScore3 = $('#away-period-3').val()

		var awayScoreTotal = parseInt(awayScore1) + parseInt(awayScore2) + parseInt(awayScore3)
		console.log('Away Score totals is currently: ' + awayScoreTotal)

		var homeScore1 = $('#home-period-1').val()
		var homeScore2 = $('#home-period-2').val()
		var homeScore3 = $('#home-period-3').val()
		
		var homeScoreTotal = parseInt(homeScore1) + parseInt(homeScore2) + parseInt(homeScore3)
		console.log('Home Score totals is currently: ' + homeScoreTotal)

		// If all scores are 0 toggle OT section
		if (awayScoreTotal == homeScoreTotal) {
			console.log('OT BABY!')
			$('#period-pannel-ot-1').show();
		} else {
			// reset OT scores to 0
			$('#away-ot-1').val('0');
			$('#home-ot-1').val('0');
			$('#period-pannel-ot-1').hide();
		}

	});
</script>


<!-- Over Time Counter -->
<script type="text/javascript">

	var allowedOts = 5 // Set number of OT's

	var otState = 1;
	$('#ot-count-button').click( function(){
		if (otState >= allowedOts) {
		otState = 1
	} else {
		otState++
	}
	if (otState == 1) {
		$('#ot-count-display').text('');
		$('#ot-count').val('1');
	} else {
			$('#ot-count-display').text(otState);
			$('#ot-count').val(otState);
	}

});

</script>


<!-- Submit Button -->
<script type="text/javascript">

	// don't submit if tie

</script>



{% endblock %}

      