{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}
		

		{% block content %}
 		<!-- Ticker -->
        <div class="ticker-wrap">
            <div class="ticker">
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
              <div class="ticker__item">Top Dog: The Doc (6-28)</div>
              <div class="ticker__item">Last Goosing: Ryan (6/25)</div>
            </div>
            </div>
        <!-- Menu Buttons -->    
        <div class="menu">
            <button class="btn btn-blue" type="button">Player Stats</button>
            <button id="trackGame" class="btn btn-orange" type="button">Track a Game</button>
        </div>

        <!-- Recent Games Label --> 
        <p class="recent-games-label">Recent Games</p>

			{% for game in games %}
		        <!-- Game Scores --> 
		        <div class="game">
					<p class="game-date">{{ game.game_date.strftime('%B %-d %Y') }}</p>
		            <table>
		                <tr>
							<th>Player</th>
							<th>Team</th>
							<th>1st</th>
							<th>2nd</th>
							<th>3rd</th>
							<th>Final</th>
		                </tr>
		                <tr>
							<td>{{ game.away_player }}</td>
							<td>{{ game.away_team }}</td>
							<td>{{ game.away_period_1 }}</td>
							<td>{{ game.away_period_2 }}</td>
							<td>{{ game.away_period_3 }}</td>
							<td>{{ game.away_final }}</td>
		                </tr>
		                <tr>
						  	<td>{{ game.home_player }}</td>
							<td>{{ game.home_team }}</td>
							<td>{{ game.home_period_1 }}</td>
							<td>{{ game.home_period_2 }}</td>
							<td>{{ game.home_period_3 }}</td>
							<td>{{ game.home_final }}</td>
		                </tr>
		              </table>
		        </div>
			{% endfor %}

              <!-- Game Input Popup --> 
      <div id="trackModal">
        <div class="new-game-input">

          	<section>
          		<h1>New Matchup</h1>
        		<p class="new-game-date">June 26th, 2020</p>
			  </section>

			<form action="/tracker" method="POST">
					<!-- TEAM PLAYER ONE, PLAYER TWO -->
					<section class="flex-container">
						<div class="flex-child tracker-player1">
							<h2>Player 1</h2>
							<select id='player-1' name='player-1' value='Choose Player'>
								<!-- ## database ## - Grab these values from User Table -->  
								<option value="ryan">Ryan</option>
								<option value="nick">Nick</option>
							</select>
						</div>
						<div class="flex-child tracker-player2">
							<h2>Player 2</h2>
							<select id='player-1' name='player-1' value='Choose Player'>
								<!-- ## database ## - Grab these values from User Table -->  
								<option value="nick">Nick</option>
								<option value="ryan">Ryan</option>
							</select>
						</div>
					</section>
					<!-- TEAM ICONS -->
					<section>
						<img id="result1" src="static/images/nhl_logos/nhl-logo-480x480.png" alt="Away Team">
						<div id="ranomizer"></div>
						<img id="result2" src="static/images/nhl_logos/nhl-logo-480x480.png" alt="Home Team">				
					</section>
					<!-- TEAM AWAY, HOME -->
					<section class="flex-container">
						<div class="flex-child tracker-away">
							<h2>Away</h2>
						</div>
						<div class="flex-child tracker-home">
							<h2>Home</h2>
						</div>
					</section>

					<section class="period">
						<h3>1st Period</h3>
							<div class='score-input-away inline-flex'>
								<div class="score-plus-minus">-</div>
								<input type="number" id="away-period-1" name="away-period-1" min="0" max="20" value="0">
								<div class="score-plus-minus">+</div>
							</div>
							<div class="clear-score-1 inline-flex"></div>
							<div class='score-input-home inline-flex'>
								<div class="score-plus-minus">-</div>
								<input type="number" id="home-period-1" name="home-period-1" min="0" max="20" value="0">
								<div class="score-plus-minus">+</div>
							</div>	
					</section>

					<section class="period">
						<h3>2nd Period</h3>
							<div class='score-input-away inline-flex'>
								<div class="score-plus-minus">-</div>
								<input type="number" id="away-period-2" name="away-period-2" min="0" max="20" value="0">
								<div class="score-plus-minus">+</div>
							</div>
							<div class="clear-score-1 inline-flex"></div>
							<div class='score-input-home inline-flex'>
								<div class="score-plus-minus">-</div>
								<input type="number" id="home-period-2" name="home-period-2" min="0" max="20" value="0">
								<div class="score-plus-minus">+</div>
							</div>	
					</section>

					<section class="period">
						<h3>3rd Period</h3>
							<div class='score-input-away inline-flex'>
								<div class="score-plus-minus">-</div>
								<input type="number" id="away-period-3" name="away-period-3" min="0" max="20" value="0">
								<div class="score-plus-minus">+</div>
							</div>
							<div class="clear-score-1 inline-flex"></div>
							<div class='score-input-home inline-flex'>
								<div class="score-plus-minus">-</div>
								<input type="number" id="home-period-3" name="home-period-3" min="0" max="20" value="0">
								<div class="score-plus-minus">+</div>
							</div>	
					</section>

					<!--
					<div>
						<label class="asterisk-label" for="asterisk">*</label>
						<input class="asterisk-box" type="checkbox" id="asterisk" name="asterisk" value="asterisk">
					</div>
					-->
					<button input="submit" value="Post" id="submit-game">Submit Game</button>
			</form>

      </div>








<script type="text/javascript">
  $( '#ranomizer' ).click(function() {


  var intrvl = setInterval(numbFunction, 10); //repeat function after 1.5 seconds(1500 ms)
      function numbFunction() {
          var images = [
                "static/images/nhl_logos/nhl-anaheim-ducks-logo-480x480.png", // 0
				"static/images/nhl_logos/nhl-arizona-coyotes-logo-480x480.png", // 1
				"static/images/nhl_logos/nhl-boston-bruins-logo-480x480.png", // 2
				"static/images/nhl_logos/nhl-buffalo-sabres-logo-480x480.png", // 3
				"static/images/nhl_logos/nhl-calgary-flames-logo-480x480.png", // 4
				"static/images/nhl_logos/nhl-carolina-hurricanes-logo-480x480.png", // 5
				"static/images/nhl_logos/nhl-chicago-blackhawks-logo-480x480.png", // 6
				"static/images/nhl_logos/nhl-colorado-avalanche-logo-480x480.png", // 7
				"static/images/nhl_logos/nhl-columbus-blue-jackets-logo-480x480.png", // 8
				"static/images/nhl_logos/nhl-dallas-stars-logo-480x480.png",// 9
				"static/images/nhl_logos/nhl-detroit-red-wings-logo-480x480.png", // 10
				"static/images/nhl_logos/nhl-edmonton-oilers-logo.png", // 11
				"static/images/nhl_logos/nhl-florida-panthers-logo-480x480.png", // 12
				"static/images/nhl_logos/nhl-los-angeles-kings-logo-480x480.png", // 13
				"static/images/nhl_logos/nhl-minnesota-wild-logo-480x480.png", // 14
				"static/images/nhl_logos/nhl-montreal-canadiens-logo-480x480.png", // 15
				"static/images/nhl_logos/nhl-nashville-predators-logo-480x480.png", // 16
				"static/images/nhl_logos/nhl-new-jersey-devils-logo-480x480.png", // 17
				"static/images/nhl_logos/nhl-new-york-islanders-logo-480x480.png", // 18
				"static/images/nhl_logos/nhl-new-york-rangers-logo-480x480.png", // 19
				"static/images/nhl_logos/nhl-ottawa-senators-logo-480x480.png", // 20
				"static/images/nhl_logos/nhl-philadelphia-flyers-logo-480x480.png", // 21
				"static/images/nhl_logos/nhl-pittsburgh-penguins-logo-480x480.png", // 22
				"static/images/nhl_logos/nhl-san-jose-sharks-logo-480x480.png", // 23
				"static/images/nhl_logos/nhl-st-louis-blues-logo-480x480.png", // 24
				"static/images/nhl_logos/nhl-tampa-bay-lightning-logo-480x480.png", // 25
				"static/images/nhl_logos/nhl-toronto-maple-leafs-logo-480x480.png", // 26
				"static/images/nhl_logos/nhl-vancouver-canucks-logo-480x480.png", // 27
				"static/images/nhl_logos/nhl-vegas-golden-knights-logo-480x480.png", // 28
				"static/images/nhl_logos/nhl-washington-capitals-logo-480x480.png", // 29
				"static/images/nhl_logos/nhl-winnipeg-jets-logo-480x480.png" // 30
          ];

          var x = Math.floor((Math.random() * 31) + 0); //return a random no. between 1 to 10 away
          var y = Math.floor((Math.random() * 31) + 0); //return a random no. between 1 to 10 home
       
          document.getElementById("result1").src = images[x]; // random team for away
          document.getElementById("result2").src = images[y]; // random team for home
          
          setTimeout(function () {
            //your code here...
            clearInterval(intrvl);

           }, 2000); // time out end  

          if (y == x) { // Re Roll Home if tie
  			y = Math.floor((Math.random() * 31) + 0);
		  }

          console.log("Away: " + x + " Home: " + y);
      }
   
}); // on click end

</script>

{% endblock %}

      